# Entornos virtuales
venv/
env/

# Archivos de PyCharm
.idea/

# Archivos de Python compilados
*.pyc
__pycache__/

# Base de datos local de Django
# db.sqlite3

# Archivos de sistema macOS
.DS_Store
*.DS_Store